<div class="container-fluid">
  <div class="row content">
    <div class="col-12 col-md-7 p-4">
      <header class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-5">
        <div class="logo mb-3 mb-md-0">
          <span><img src="assets/images/Logo.svg" alt="Logo"></span>
        </div>
        <button class="btn btn-connexion" routerLink="/login">Connexion</button>
      </header>
      <div class="form-container">
        <h2 class="mb-3">Créer un compte</h2>
        <p class="text-muted mb-4">Renseignez ces différents champs pour l'inscription</p>
        <form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
          <div class="mb-3">
            <label class="form-label" for="nomComplet">Nom complet</label>
            <input class="form-control" id="nomComplet" type="text" [(ngModel)]="user.nom_complet" name="nom_complet" required placeholder="Nom complet" #nomComplet="ngModel" />
            <div *ngIf="nomComplet.invalid && (nomComplet.dirty || nomComplet.touched)" class="text-danger">
              Le nom complet est requis.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" [(ngModel)]="user.email" name="email" required placeholder="demba@example.com" #email="ngModel" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              Veuillez entrer une adresse email valide.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="telephone">Téléphone</label>
            <input class="form-control" id="telephone" type="tel" [(ngModel)]="user.telephone" name="telephone" required placeholder="781442525" #telephone="ngModel" />
            <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="text-danger">
              Veuillez entrer un numéro de téléphone valide.
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label" for="motDePasse">Mot de passe</label>
            <input class="form-control" id="motDePasse" type="password" [(ngModel)]="user.password" name="password" required placeholder="••••••" #password="ngModel" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              Le mot de passe doit contenir au moins 6 caractères.
            </div>
          </div>
          <button class="btn btn-inscription w-100 py-2" type="submit" [disabled]="!inscriptionForm.form.valid">Inscription</button>
        </form>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="col-md-5 px-0 right-content d-none d-md-block">
      <div class="overlay"></div>
      <img
        alt="Image d'un atelier automobile avec des équipements de diagnostic et des voitures en cours de réparation"
        class="img-fluid h-100 w-100 object-fit-cover"
        src="assets/images/inscription.png"
      />
    </div>
  </div>
</div>
