.content{
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
}
.logo span {
  color: #9c490c;
}
.logo img{
  width: 218.951px;
  height: 86.044px;
  flex-shrink: 0;
}
.btn-connexion {
  width: 136.605px;
  height: 37px;
  padding: 7px 12px;
  justify-content: center;
  color: #fff;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--third, #020202);
}
.form-container {
  max-width: 400px;
  margin-left: 13vh;
}
.btn-inscription {
  background-color: #9c490c;
  color: #fff;
  border: none;
}
.right-content {
  float: right;
  margin-top: 1vh;
  position: relative; /* Nécessaire pour positionner l'overlay */
}

.right-content img {
  width: 600px;
  height: 800px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Ajustez l'opacité ici */
  z-index: 1; /* Assurez-vous que la superposition est au-dessus de l'image */
}

