<footer class="footer mt-4">
  <div class="container">
    <div class="row">

      <!-- Logo et description -->
      <div class="col-md-3 mb-4">
        <img
          alt="AGSO logo"
          class="logo mb-3"
          height="80"
          src="assets/images/Logo.svg"
          width="150"
        />
        <p class="small">
          Nous savons que l'honnêteté et la transparence, combinées à un service client fiable et convivial, sont ce qui permet véritablement de gagner la confiance des clients.
        </p>
      </div>

      <!-- Liens de navigation -->
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-3">LIENS DE NAVIGATION</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="#">À propos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Formations</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Boutique</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>

      <!-- derniere article publier-->
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-3">DERNIERE ARTICLE PUBLIER</h5>
        <div class="row">
          <div class="col-6 mb-2">
            <img
              alt="Close-up of a shiny car engine part"
              class="img-fluid"
              height="150"
              src="assets/images/v2.jpg"
              width="150"
            />
          </div>
          <div class="col-6 mb-2">
            <img
              alt="Yellow and black electrical hazard warning sign"
              class="img-fluid"
              height="150"
              src="assets/images/v2.jpg"
              width="150"
            />
          </div>
        </div>
      </div>

      <!-- Informations de contact -->
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-3">CONTACT</h5>
        <div class="contact-item">SICAP LIBERTE 4 5077/L</div>
        <div class="contact-item">TELEPHONE: 774545454</div>
        <div class="contact-item">E-MAIL: autoservice.auto"&#64;"gmail.com</div>
      </div>

    </div>

    <!-- Liens en bas de page -->
    <div class="row bottom-links">
      <div class="col-md-6">
        <small>© AutoService - DIALLO</small>
      </div>
      <div class="col-md-6 text-end">
        <a href="#">ACCUEIL</a>
        <a href="#">À PROPOS</a>
        <a href="#">SERVICES</a>
      </div>
    </div>

  </div>
</footer>
