<div class="modal-header">
  <h4 class="modal-title">{{ product.nom_produit }}</h4>
  <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<div class="modal-body">
  <img [src]="product.image" [alt]="product.nom_produit" class="img-fluid mb-3">
  <p>{{ product.description }}</p>
  <p class="price">Prix : {{ product.prix | supprimer }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fermer</button>
  <button type="button" class="btn btn-add-to-cart" (click)="addToCartAndClose()">Ajouter au panier</button>
</div>
