<div *ngIf="isEtudiant(); else clientNavbar">
  <app-nav-connect></app-nav-connect>
</div>
<ng-template #clientNavbar>
  <app-navbar></app-navbar>
</ng-template>
<header class="course-header" *ngIf="formation">
  <div class="container">
    <h1 class="display-5 text-header">{{ formation.nom_formation }}</h1>
  </div>
</header>

<main class="container mt-4" *ngIf="formation">
  <div class="row">
    <div class="col-md-8">
      <section class="description mb-4">
        <h2>Description</h2>
        <p>{{ formation.description }}</p>
      </section>
      <!-- <section class="objectives mb-4">
        <h2>Objectifs du cours :</h2>
        <ul>
          <li *ngFor="let objective of formation.objectives">{{ objective }}</li>
        </ul>
      </section> -->
      <h2 id="cours-title">Contenu du cours</h2>
      <section class="course-content">
        <div class="content-item" *ngFor="let video of videos">
          <span>{{ video.titre }}</span>
          <a href="#" class="preview-link">voir</a>
        </div>
        <ng-template #noVideos>
          <p>Aucune vidéo n'est disponible pour ce cours pour le moment.</p>
          <p>Débug info: {{ videos | json }}</p>
        </ng-template>
      </section>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 buy-cart">
        <img [src]="formation.image" class="card-img-top" [alt]="'Aperçu du cours ' + formation.nom_formation">
        <div class="card-body">
          <h5 class="card-title">{{ formation.prix }} francs</h5>
            <button (click)="initiatePayment()" class="btn btn-buy btn-block">Acheter</button>
        </div>
      </div>
      <!-- <div class="reviews">
        <div class="review" *ngFor="let review of formation.reviews">
          <img [src]="review.userImageUrl" [alt]="'Photo de profil de ' + review.userName">
          <div>
            <strong>{{ review.userName }}</strong>
            <div>
              <i class="fas fa-star text-warning" *ngFor="let star of [].constructor(review.rating)"></i>
            </div>
            <p>{{ review.comment }}</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</main>

<app-footer></app-footer>
