<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"><span><img src="assets/images/Logo.svg" alt=""></span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">ACCUEIL</a>
          <li class="nav-item">
          <a class="nav-link" routerLink="/formation" routerLinkActive="active-link">FORMATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/article" routerLinkActive="active-link">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/boutique" routerLinkActive="active-link">BOUTIQUE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/a-propos" routerLinkActive="active-link">A PROPOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">CONTACT</a>
        </li>
      </ul>
      <div class="cart-icon" (click)="openCartModal()">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-badge">{{ cartItems.length || 0 }}</span>
      </div>
      <ng-container *ngIf="!isLoggedIn; else logoutButton">
        <button class="btn btn-connexion" routerLink="login">Connexion</button>
        <button class="btn btn-inscription" routerLink="/inscription">Inscription</button>
      </ng-container>
      <ng-template #logoutButton>
        <button class="btn btn-deconnexion" (click)="logout()">Déconnexion</button>
      </ng-template>
    </div>
  </div>
</nav>

<!-- Modal for Cart -->
<div class="modal" [class.show]="isCartModalOpen" [class.d-block]="isCartModalOpen" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-arrow-left me-2"></i>Ajouter de nouveaux produits</h5>
        <button type="button" class="btn-close" (click)="closeCartModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7 product-list">
            <div *ngIf="isLoading">Chargement du panier...</div>
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <div *ngIf="!isLoading && !errorMessage">
              <div *ngIf="cartItems.length === 0">Le panier est vide.</div>
              <div>Nombre d'articles dans le panier: {{ cartItems.length }}</div>
              <div class="product-item" *ngFor="let product of cartItems">
                <div class="product-name">{{ product.nom }}</div>
                <input type="number" class="product-quantity" [(ngModel)]="product.quantite" (change)="updateQuantity(product)">
                <div class="product-price">{{ product.prix | currency:'XOF':'symbol':'1.0-0' }}</div>
                <i class="fas fa-trash-alt product-remove" (click)="removeProduct(product)"></i>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="payment-methods">
              <h6>Choisir une méthode de paiement</h6>
              <div>
                <img src="assets/images/orange money.png" alt="Orange Money logo" class="img">
                <img src="assets/images/wave.jpg" alt="Wave logo" class="img">
                <img src="assets/images/free-money.png" alt="Free Money logo" class="img">
              </div>
              <div class="qr-code">
                <img src="assets/images/qr-code.png" alt="QR code for payment">
              </div>
              <div class="total-price">
                {{ totalPrice | currency:'XOF':'symbol':'1.0-0' }}
              </div>
              <!-- <button class="btn btn-primary mt-3" (click)="initiatePayment()" [disabled]="isLoading || cartItems.length === 0">Payer maintenant</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show" *ngIf="isCartModalOpen"></div>
