<div *ngIf="isEtudiant(); else clientNavbar">
  <app-nav-connect></app-nav-connect>
</div>
<ng-template #clientNavbar>
  <app-navbar></app-navbar>
</ng-template>

<!-- Hero Navbar -->
<div class="container-fluid mt-0">
  <div class="row main-banner align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <h4>
        Découvrez nos produits : Pièces Moteurs, Confort, Logiciels & Matériel de Diagnostic - Tout ce qu'il vous faut pour entretenir et optimiser votre véhicule. Qualité garantie, expertise professionnelle.
      </h4>
      <button class="call-to-action mt-3">CALL TO ACTION</button>
    </div>
    <div class="col-md-6 text-center">
      <img id="banner-img" alt="Laptop, OBD scanner, and other diagnostic tools for vehicles" class="img-fluid" src="assets/images/banner-commerce.png" width="400" />
    </div>
  </div>
</div>

<!-- Section produit de la première catégorie -->
<div class="container mt-4" *ngIf="categories[0]">
  <div class="row">
    <div class="col-md-3 category">
      <a [routerLink]="['/detail/categorie', categories[0].id]">
      <strong>{{ categories[0].nom_categorie }}</strong>
    </a>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div *ngFor="let product of category1Products" class="col-md-3 col-sm-6">
          <div class="product-card">
            <img [src]="product.image" [alt]="product.nom_produit" />
            <h5>{{ product.nom_produit }}</h5>
            <p>{{ product.description | reduire:80 }}</p>
            <div class="price-cart">
              <p class="price">{{ product.prix }}</p>
              <i class="fas fa-shopping-cart cart-icon" (click)="addToCart(product)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-3">
        <span class="navigation-arrows">
          <i class="fas fa-chevron-left me-3"></i>
          <i class="fas fa-chevron-right"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Section produit de la deuxième catégorie -->
<div class="container mt-4" *ngIf="categories[1]">
  <div class="row">
    <div class="col-md-3 category">
      <a [routerLink]="['/detail/categorie', categories[1].id]">
      <strong>{{ categories[1].nom_categorie }}</strong>
    </a>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div *ngFor="let product of category2Products" class="col-md-3 col-sm-6">
          <div class="product-card">
            <img [src]="product.image" [alt]="product.nom_produit" />
            <h5>{{ product.nom_produit }}</h5>
            <p>{{ product.description | reduire:80 }}</p>
            <div class="price-cart">
              <p class="price">{{ product.prix }}</p>
              <i class="fas fa-shopping-cart cart-icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-3">
        <span class="navigation-arrows">
          <i class="fas fa-chevron-left me-3"></i>
          <i class="fas fa-chevron-right"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Section produit de la troisième catégorie -->
<div class="container mt-4" *ngIf="categories[2]">
  <div class="row">
    <div class="col-md-3 category">
      <a [routerLink]="['/detail/categorie', categories[2].id]">
      <strong>{{ categories[2].nom_categorie }}</strong>
    </a>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div *ngFor="let product of category3Products" class="col-md-3 col-sm-6">
          <div class="product-card">
            <img [src]="product.image" [alt]="product.nom_produit" />
            <h5>{{ product.nom_produit }}</h5>
            <p>{{ product.description | reduire:80 }}</p>
            <div class="price-cart">
              <p class="price">{{ product.prix }}</p>
              <i class="fas fa-shopping-cart cart-icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-3">
        <span class="navigation-arrows">
          <i class="fas fa-chevron-left me-3"></i>
          <i class="fas fa-chevron-right"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
