<app-navbar></app-navbar>

<!-- Section Héro -->
<section class="hero-section">
  <div class="hero-overlay">
    <div class="container hero-content">
      <h1 class="mb-4">BLOG</h1>
      <div class="search-container">
        <div class="input-group mb-3">
          <!-- Input group ici -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contenu  -->
<div class="container mt-5">
  <div class="row">
    <!-- Boucle *ngFor pour afficher dynamiquement les articles -->
    <div class="col-md-4" *ngFor="let article of articles">
      <div class="card">
        <img [src]="article.photo" class="card-img-top" [alt]="article.titre" width="400" height="200">
        <div class="card-body">
          <h5 class="card-title">{{ article.titre }}</h5>
          <p class="card-text">{{ article.description }}</p>
          <a [routerLink]="['/detail-article', article.id]" class="btn btn-primary">Voir plus</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination (si applicable) -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
    </ul>
  </nav>
</div>

<app-footer></app-footer>
