<div *ngIf="isEtudiant(); else clientNavbar">
  <app-nav-connect></app-nav-connect>
</div>
<ng-template #clientNavbar>
  <app-navbar></app-navbar>
</ng-template>

<!-- Section Héro -->
<section class="hero-section">
  <div class="hero-overlay">
    <div class="container hero-content">
      <h1 class="mb-4">BLOG</h1>
      <div class="search-container">
        <div class="input-group mb-3">
          <!-- Input group ici -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contenu  -->
<div class="container mt-5">
  <div class="row">
    <!-- Utilisation de paginatedArticles au lieu de articles -->
    <div class="col-md-4" *ngFor="let article of paginatedArticles">
      <div class="card">
        <img [src]="article.photo" class="card-img-top" [alt]="article.titre" width="400" height="200">
        <div class="card-body">
          <h5 class="card-title">{{ article.titre }}</h5>
          <p class="card-text">{{ article.description | reduire:150 }}</p>
          <a [routerLink]="['/detail-article', article.id]" class="btn btn-primary">Voir plus</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination mise à jour -->
  <nav aria-label="Page navigation" *ngIf="pages.length > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()" [class.disabled]="currentPage === 1">Précédent</a>
      </li>

      <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === pages.length">
        <a class="page-link" (click)="nextPage()" [class.disabled]="currentPage === pages.length">Suivant</a>
      </li>
    </ul>
  </nav>
</div>

<app-footer></app-footer>
