<!-- Section Héro -->
<section class="hero-section">
  <div class="hero-overlay">
    <div class="container hero-content">
      <h1 class="mb-4">NOUS CONTACTER</h1>
      <div class="search-container">
        <div class="input-group mb-3">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="contact-card">
        <i class="fas fa-map-marker-alt contact-icon"></i>
        <p>Adresse</p>
        <p>Rue exemple, Ville 12345</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="contact-card">
        <i class="fas fa-phone contact-icon"></i>
        <p>Téléphone</p>
        <p>+221 78 104 13 21</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="contact-card">
        <i class="fas fa-envelope contact-icon"></i>
        <p>Email</p>
        <p>agsautomobile.exemple&#64;gmail.com</p>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 right-side">
      <img
        alt="Close-up of a green circuit board with electronic components"
        class="img-fluid"
        height="400"
        src="assets/images/contact-im.png"
        width="650"
      />
    </div>

    <div class="col-md-6">
      <div class="form-container">
        <h3 class="text-white mb-3">Entrer en contact</h3>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <input class="form-control" placeholder="Votre nom" type="text" formControlName="name" />
          <input class="form-control" placeholder="Email" type="email" formControlName="email" />
          <input class="form-control" placeholder="Sujet" type="text" formControlName="subject" />
          <textarea class="form-control" placeholder="Message" rows="4" formControlName="message"></textarea>
          <button class="btn btn-submit" type="submit" [disabled]="!contactForm.valid || isSubmitting">
            {{ isSubmitting ? 'Envoi en cours...' : 'Envoyer' }}
          </button>
        </form>
        <p *ngIf="submitMessage" [ngClass]="{'text-success': submitMessage.includes('succès'), 'text-danger': submitMessage.includes('erreur')}">
          {{ submitMessage }}
        </p>
      </div>
    </div>

  <div class="row mt-4">
    <div class="col-12 fram-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.8219056585644!2d-17.47011828895234!3d14.722658785719014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec173782be5390b%3A0x75f204652ab8ecc6!2zU2FjcsOpIGPFk3VyIDM!5e0!3m2!1sen!2ssn!4v1727266926919!5m2!1sen!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
</div>
<app-footer/>
