<div class="container-fluid">
  <div class="row">
    <app-sidbar></app-sidbar>
    <!-- Sidebar -->
    <div class="col-md-2"></div>
    <!-- Formulaire -->
    <div class="col-md-10">
      <form class="form-container">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="nom">Nom Categorie</label>
            <input type="text" class="form-control" id="nom" name="videoTitle" required>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" disabled>Ajouter</button>
      </form>

    </div>
  </div>
</div>
