<app-sidbar></app-sidbar>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md">
    </div>

    <!-- Formulaire -->
    <div class="col-md-9">
      <div class="form-container mt-4 p-4 shadow-sm bg-white rounded">
        <h2 class="mb-4">Modifier un service</h2>

        <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
          <!-- Ligne 1 : Titre et Photos -->
          <div class="row mb-3">
            <div class="col-md-6 form-group">
              <label for="titre">Titre</label>
              <input class="form-control" id="titre" type="text" formControlName="titre" required />
            </div>

            <div class="col-md-6 form-group">
              <label for="photo">Photos</label>
              <input class="form-control" id="photo" type="file" (change)="onFileSelected($event)" />
              <small *ngIf="currentService && currentService.photo" class="form-text text-muted">
                Photo actuelle : {{ currentService.photo }}
              </small>
            </div>
          </div>

          <!-- Ligne 2 : Partenaire -->
          <div class="row mb-3">
            <div class="col-md-6 form-group">
              <label for="partenaire">Partenaire</label>
              <select class="form-control" id="partenaire" formControlName="partenaire_id" required>
                <option value="" disabled>Sélectionner un partenaire</option>
                <option *ngFor="let partenaire of partenaires" [value]="partenaire.id">{{ partenaire.nom_partenaire }}</option>
              </select>
            </div>
          </div>

          <!-- Ligne 3 : Description -->
          <div class="form-group mb-4">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="5" formControlName="description" required></textarea>
          </div>

          <!-- Bouton Modifier -->
          <div class="text-right">
            <button class="btn btn-primary" type="submit" [disabled]="!serviceForm.valid">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
