<div class="container-fluid">
  <div class="row">
    <app-sidbar></app-sidbar>
    <!-- Sidebar -->
    <div class="col-md-3">
    </div>

    <!-- Contenu principal -->
    <div class="col-md-9 content">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="section-title">
          Partenaires
        </h2>
        <button class="btn btn-custom" (click)="ajouterPartenaire()">
          AJOUTER UN PARTENAIRE
        </button>
      </div>

      <!-- Cartes des partenaires -->
      <div class="row partenaire">
        <!-- Répétition des cartes partenaires -->
        <div class="col-md-4" *ngFor="let partenaire of partenaires">
          <div class="partner-card">
            <img class="partner-logo" [src]="partenaire.logo" alt="Logo partenaire">
            <p><i class="fas fa-map-marker-alt text-warning"></i> Nom : {{partenaire.nom_partenaire}}</p>
            <p><i class="fas fa-envelope text-warning"></i> Email : {{partenaire.email}}</p>
            <p><i class="fas fa-phone text-warning"></i> Téléphone : {{partenaire.telephone}}</p>
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-custom" (click)="editerPartenaire(partenaire.id)"><i class="fas fa-edit"></i></button>
              <button class="btn btn-custom" (click)="supprimerPartenaire(partenaire.id)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
