<app-navbar/>

  <div class="container mt-4">
      <div class="row">
          <div class="col-12 mb-4 hero-section">
              <img alt="Close-up of an automotive ECU circuit board with various components visible" class="img-fluid w-100" height="" src="assets/images/ecuprog 1.svg" width="1440"/>
              <div class="hero-overlay"></div>
              <h1 class="hero-title">Programmation ECU Automobile</h1>
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
              <div class="card h-100">
                  <img alt="Laptop connected to automotive ECU with programming equipment on a workbench" class="card-img-top" height="300" src="https://replicate.delivery/yhqm/LV85SezlzuSOACKBodOL7tjEalchAeMfB4HsDUQDCn7Im2fNB/out-0.png" width="400"/>
                  <div class="card-body">
                      <h5 class="card-title">Programmation calculateur ECU automobile</h5>
                      <p class="card-text">Devenez un expert en programmation automobile grâce à notre formation complète.</p>
                      <a class="btn btn-primary" href="#">VOIR PLUS</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100">
                  <img alt="Laptop connected to automotive ECU with programming equipment on a workbench" class="card-img-top" height="300" src="https://replicate.delivery/yhqm/LV85SezlzuSOACKBodOL7tjEalchAeMfB4HsDUQDCn7Im2fNB/out-0.png" width="400"/>
                  <div class="card-body">
                      <h5 class="card-title">Programmation calculateur ECU automobile</h5>
                      <p class="card-text">Devenez un expert en programmation automobile grâce à notre formation complète.</p>
                      <a class="btn btn-primary" href="#">VOIR PLUS</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100">
                  <img alt="Laptop connected to automotive ECU with programming equipment on a workbench" class="card-img-top" height="300" src="https://replicate.delivery/yhqm/LV85SezlzuSOACKBodOL7tjEalchAeMfB4HsDUQDCn7Im2fNB/out-0.png" width="400"/>
                  <div class="card-body">
                      <h5 class="card-title">Programmation calculateur ECU automobile</h5>
                      <p class="card-text">Devenez un expert en programmation automobile grâce à notre formation complète.</p>
                      <a class="btn btn-primary" href="#">VOIR PLUS</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100">
                  <img alt="Laptop connected to automotive ECU with programming equipment on a workbench" class="card-img-top" height="300" src="https://replicate.delivery/yhqm/LV85SezlzuSOACKBodOL7tjEalchAeMfB4HsDUQDCn7Im2fNB/out-0.png" width="400"/>
                  <div class="card-body">
                      <h5 class="card-title">Programmation calculateur ECU automobile</h5>
                      <p class="card-text">Devenez un expert en programmation automobile grâce à notre formation complète.</p>
                      <a class="btn btn-primary" href="#">VOIR PLUS</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100">
                  <img alt="Laptop connected to automotive ECU with programming equipment on a workbench" class="card-img-top" height="300" src="https://replicate.delivery/yhqm/LV85SezlzuSOACKBodOL7tjEalchAeMfB4HsDUQDCn7Im2fNB/out-0.png" width="400"/>
                  <div class="card-body">
                      <h5 class="card-title">Programmation calculateur ECU automobile</h5>
                      <p class="card-text">Devenez un expert en programmation automobile grâce à notre formation complète.</p>
                      <a class="btn btn-primary" href="#">VOIR PLUS</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100">
                  <img alt="Laptop connected to automotive ECU with programming equipment on a workbench" class="card-img-top" height="300" src="https://replicate.delivery/yhqm/LV85SezlzuSOACKBodOL7tjEalchAeMfB4HsDUQDCn7Im2fNB/out-0.png" width="400"/>
                  <div class="card-body">
                      <h5 class="card-title">Programmation calculateur ECU automobile</h5>
                      <p class="card-text">Devenez un expert en programmation automobile grâce à notre formation complète.</p>
                      <a class="btn btn-primary" href="#">VOIR PLUS</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<app-footer/>
