<div class="container-fluid">
  <app-sidbar></app-sidbar>
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2"></div>
    <div class="container">
      <div class="form-container">
        <div class="form-title">Modifier une photo</div>
        <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col">
              <label for="nom_photo" class="form-label">Nom</label>
              <input type="text" class="form-control" id="nom_photo" formControlName="nom_photo">
            </div>
            <div class="col">
              <label for="photo" class="form-label">Photo</label>
              <input type="file" class="form-control" id="photo" (change)="onFileSelected($event)">
            </div>
          </div>
          <div class="mb-3">
            <label for="formation_id" class="form-label">Formation</label>
            <select class="form-select" id="formation_id" formControlName="formation_id">
              <option value="">Choisir une formation</option>
              <option *ngFor="let formation of formations" [value]="formation.id">
                {{ formation.nom_formation }}
              </option>
            </select>
          </div>
          <button type="submit" class="btn btn-custom" [disabled]="photoForm.invalid">Modifier</button>
        </form>
      </div>
    </div>
  </div>
</div>
