<app-nav-connect/>
<div class="main-container">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="d-flex align-items-center mb-3">
                  <h5 class="mb-0">Les circuits imprimers</h5>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
              <div class="video-container mb-3">
                  <i class="fas fa-play-circle play-button"></i>
              </div>
              <p>JavaScript is now used to power backends, create hybrid mobile applications, architect cloud solutions, design neural networks and even control robots. Enter the world of JavaScript and learn to build powerful and complex applications.</p>
          </div>
          <div class="col-md-4">
              <h6 class="resource-title">RESSOURCE DU COURS</h6>
              <div class="mb-2">
                  <a class="download-link" href="#">Documents.pdf <i class="fas fa-download download-icon"></i></a>
              </div>
              <div class="mb-2">
                  <a class="download-link" href="#">Documents.pdf <i class="fas fa-download download-icon"></i></a>
              </div>
              <div class="mb-2">
                  <a class="download-link" href="#">Documents.pdf <i class="fas fa-download download-icon"></i></a>
              </div>
              <div class="mb-2">
                  <a class="download-link" href="#">Documents.pdf <i class="fas fa-download download-icon"></i></a>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="section-title">CONTEN DU COURS</div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-header">Aperçu du cours</div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-header">programmation automobille</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active">
                        <i class="fas fa-play-circle"></i> Introduction
                        <span class="duration">8m 42s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-play-circle" style="color: #b5651d;"></i> Introduction a la programmnation
                        <span class="duration">50m 13s</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
<app-footer/>
