<app-navbar/>
<section class="hero-section">
  <div class="hero-overlay">
      <div class="container hero-content">
          <h1 class="mb-4">FORMEZ-VOUS AUX NOUVELLES<br>TECHNOLOGIES AUTOMOBILES<br>ET RESTEZ À JOUR</h1>
          <div class="search-container">
              <div class="input-group mb-3">
                  <input type="text" class="form-control search-input" placeholder="Rechercher des formations..." aria-label="Search" aria-describedby="button-addon2">
                  <button class="btn btn-primary search-button" type="button" id="button-addon2">RECHERCHER</button>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="container">
  <h2 class="formations-title">FORMATIONS</h2>
  <div class="row">
      <div class="col-md-3">
          <div class="card">
              <img
                  alt="Workspace with laptop and ECU programming equipment"
                  class="card-img-top"
                  height="200"
                  src="assets/images/ecuprog 1.svg"
                  width="300"/>
              <div class="card-body">
                  <h5 class="card-title">
                      <span class="text-warning">
                          4.3
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                      </span>
                  </h5>
                  <h6 class="card-title">Programmation calculateur ECU automobile</h6>
                  <p class="card-text">
                      Devenez un expert en programmation automobile grâce à notre formation complète.
                  </p>
                  <a class="btn btn-voir-plus" routerLink="detail-formation">Voir plus</a>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <img
                  alt="Workspace with laptop and ECU programming equipment"
                  class="card-img-top"
                  height="200"
                  src="assets/images/ecuprog 1.svg"
                  width="300"/>
              <div class="card-body">
                  <h5 class="card-title">
                      <span class="text-warning">
                          4.3
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                      </span>
                  </h5>
                  <h6 class="card-title">Programmation calculateur ECU automobile</h6>
                  <p class="card-text">
                      Devenez un expert en programmation automobile grâce à notre formation complète.
                  </p>
                  <a class="btn btn-voir-plus" outerLink="detail-formation">Voir plus</a>
              </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img
                alt="Workspace with laptop and ECU programming equipment"
                class="card-img-top"
                height="200"
                src="assets/images/ecuprog 1.svg"
                width="300"/>
            <div class="card-body">
                <h5 class="card-title">
                    <span class="text-warning">
                        4.3
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </h5>
                <h6 class="card-title">Programmation calculateur ECU automobile</h6>
                <p class="card-text">
                    Devenez un expert en programmation automobile grâce à notre formation complète.
                </p>
                <a class="btn btn-voir-plus" outerLink="detail-formation">Voir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card">
          <img
              alt="Workspace with laptop and ECU programming equipment"
              class="card-img-top"
              height="200"
              src="assets/images/ecuprog 1.svg"
              width="300"/>
          <div class="card-body">
              <h5 class="card-title">
                  <span class="text-warning">
                      4.3
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                  </span>
              </h5>
              <h6 class="card-title">Programmation calculateur ECU automobile</h6>
              <p class="card-text">
                  Devenez un expert en programmation automobile grâce à notre formation complète.
              </p>
              <a class="btn btn-voir-plus" outerLink="detail-formation">Voir plus</a>
          </div>
      </div>
  </div>
  </div>
  <div class="voir-plus-link">
      <a routerLink="formation">Voir plus</a>
  </div>
</div>
<!-- SERVICES  -->
<section class="container mx-auto px-4 py-12 service">
  <div class="container mt-5">
    <h2 class="formations-title">SERVICES</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
     <div class="col">
      <div class="card h-100 service-card">
       <img alt="Image d'un mécanicien travaillant sur un moteur de voiture avec des outils" class="card-img-top" height="" src="assets/images/mecanicien 1.svg" width=""/>
       <div class="card-body">
        <h5 class="card-title service-title">
         Diagnostique du moteur
         <i class="fas fa-wrench" style="color: #c9490c;">
         </i>
        </h5>
        <p class="card-text service-text">
         Nous sommes votre partenaire de confiance pour diagnostiquer et résoudre efficacement les problèmes de moteur.
        </p>
        <a class="voir-plus" routerLink="/detail-service">
         Voir plus
        </a>
       </div>
      </div>
     </div>
     <div class="col">
      <div class="card h-100 service-card">
       <img alt="Image d'un tableau de bord de voiture avec des jauges illuminées" class="card-img-top" height="" src="assets/images/mecanicien 1.svg" width=""/>
       <div class="card-body">
        <h5 class="card-title service-title">
         Programmation ECU
         <i class="fas fa-microchip" style="color: #020202;">
         </i>
        </h5>
        <p class="card-text service-text">
         Nous sommes votre partenaire de confiance pour diagnostiquer et résoudre efficacement les problèmes d'ECU.
        </p>
        <a class="voir-plus" href="#">
         Voir plus
        </a>
       </div>
      </div>
     </div>
     <div class="col">
      <div class="card h-100 service-card">
       <img alt="Image d'une main touchant un écran tactile dans une voiture avec des icônes d'applications" class="card-img-top" height="" src="assets/images/mecanicien 1.svg" width=""/>
       <div class="card-body">
        <h5 class="card-title service-title">
         Programmation
         <i class="fas fa-code" style="color: #c9490c;"></i>
        </h5>
        <p class="card-text service-text">
         Nous sommes votre partenaire de confiance pour diagnostiquer et résoudre efficacement les problèmes de programmation.
        </p>
        <a class="voir-plus" href="#">
         Voir plus
        </a>
       </div>
      </div>
     </div>
     <div class="col">
      <div class="card h-100 service-card">
       <img alt="Image d'un mécanicien travaillant sur un moteur de voiture avec des outils" class="card-img-top" height="" src="assets/images/mecanicien 1.svg" width=""/>
       <div class="card-body">
        <h5 class="card-title service-title">
         Diagnostique du moteur
         <i class="fas fa-wrench" style="color: #c9490c;">
         </i>
        </h5>
        <p class="card-text service-text">
         Nous sommes votre partenaire de confiance pour diagnostiquer et résoudre efficacement les problèmes de moteur.
        </p>
        <a class="voir-plus" href="#">
         Voir plus
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
</section>
<!-- TÉMOIGNAGE -->
 <section class="">
<h2 class="text-center mt-5">
  TÉMOIGNAGE
 </h2>
 <div class="container-fluid vh-100 position-relative testimonial">
  <img alt="Futuristic car repair scene with a technician wearing VR headset working on a holographic car model" class="w-100 h-100 object-fit-cover" src="assets/images/testemonial.svg" width="1200" height="500"/>
  <div class="testimonial-card">
      <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <p class="testimonial-text">
                      Grâce à AutoService Global, j'ai pu améliorer mes compétences en programmation automobile. Les formations sont claires et adaptées, et j'ai immédiatement pu appliquer les connaissances acquises dans mon garage. Merci à toute l'équipe pour leur professionnalisme et leur expertise !
                  </p>
                  <div class="testimonial-author">
                      <img src="https://replicate.delivery/yhqm/vy55MgMZpVa1I1u2hm003SZa6xyNFeqmqC65lOQcQU4X45vJA/out-0.png" alt="Photo de profil de William Diop" width="40" height="40"/>
                      <span class="testimonial-author-name">William Diop</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-indicators">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
  </div>
</div>
</section>
<!-- Article section  -->
<div class="container mt-5">
  <h2 class="text-center blog-title">
   NOS DERNIERS BLOGS
  </h2>
  <div class="image-orange"> <img src="assets/images/ligne-article.png" alt="ligne image">
  </div>
  <p class="text-center blog-description">
   Nos services de formation se distinguent par leur excellence, <br>offrant des programmes adaptés et de haute qualité  <br>pour répondre à vos besoins spécifiques.
  </p>
  <div class="row">
   <div class="col-md-3">
    <div class="card">
     <img alt="Image d'un tableau de bord de voiture la nuit, montrant des jauges et des voyants lumineux" class="card-img-top" height="200" src="https://replicate.delivery/yhqm/lHYfIZsLs130biyKi59fFBwkL840U6Zo9splYLoLBuK1G0fmA/out-0.png" width="300"/>
     <div class="card-body px-0">
      <h5 class="card-title">
       Comprendre le voyant moteur allumé : causes et solutions
      </h5>
      <p class="card-text">
       Le voyant moteur s'allume sur votre tableau de bord ? Découvrez les principales causes et comment y remédier afin que cela ne perturbe pas votre conduite.
      </p>
      <a class="btn btn-link" href="#">
       Voir plus
       <i class="fas fa-chevron-right">
       </i>
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-3">
    <div class="card">
     <img alt="Image de voyants lumineux sur un tableau de bord de voiture, montrant des symboles ABS, P et batterie" class="card-img-top" height="200" src="https://replicate.delivery/yhqm/eTfpBrt88Yi4YkCYZZt3y5raIPiNe9M7dylnffNfhxaWtB93E/out-0.png" width="300"/>
     <div class="card-body px-0">
      <h5 class="card-title">
       Comprendre le voyant moteur allumé : causes et solutions
      </h5>
      <p class="card-text">
       Le voyant moteur s'allume sur votre tableau de bord ? Découvrez les principales causes et comment y remédier afin que cela ne perturbe pas votre conduite.
      </p>
      <a class="btn btn-link" routerLink="/detail-article">
       Voir plus
       <i class="fas fa-chevron-right">
       </i>
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-3">
    <div class="card">
     <img alt="Image d'une icône de voiture jaune sur fond noir avec des lignes ondulées en dessous" class="card-img-top" height="200" src="https://replicate.delivery/yhqm/Kw0RersNp83uEyojZzdbgpjYb4Wf2ZviOgEhDFlw80t1G0fmA/out-0.png" width="300"/>
     <div class="card-body px-0">
      <h5 class="card-title">
       Comprendre le voyant moteur allumé : causes et solutions
      </h5>
      <p class="card-text">
       Le voyant moteur s'allume sur votre tableau de bord ? Découvrez les principales causes et comment y remédier afin que cela ne perturbe pas votre conduite.
      </p>
      <a class="btn btn-link" href="#">
       Voir plus
       <i class="fas fa-chevron-right">
       </i>
      </a>
     </div>
    </div>
   </div>
   <div class="col-md-3">
    <div class="card">
     <img alt="Image d'un compteur de vitesse de voiture avec un éclairage bleu" class="card-img-top" height="200" src="https://replicate.delivery/yhqm/STOzuncAUd7PF9TOY9IWfRFHAewpqnshyhMi8d4Q1EI1G0fmA/out-0.png" width="300"/>
     <div class="card-body px-0">
      <h5 class="card-title">
       Comprendre le voyant moteur allumé : causes et solutions
      </h5>
      <p class="card-text">
       Le voyant moteur s'allume sur votre tableau de bord ? Découvrez les principales causes et comment y remédier afin que cela ne perturbe pas votre conduite.
      </p>
      <a class="btn btn-link" href="#">
       Voir plus
       <i class="fas fa-chevron-right">
       </i>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- nos partenaire -->
 <div class="container mt-5">
  <h2 class="text-center mb-4">NOS PARTENAIRES</h2>
  <div class="row">
      <div class="col-md-3">
          <div class="partner-card">
              <div class="partner-icon">
                  <i class="fas fa-user"></i>
              </div>
              <button class="contact-btn">CONTACTER</button>
          </div>
      </div>
      <div class="col-md-3">
          <div class="partner-card">
              <div class="partner-icon">
                  <i class="fas fa-user"></i>
              </div>
              <button class="contact-btn">CONTACTER</button>
          </div>
      </div>
      <div class="col-md-3">
          <div class="partner-card">
              <div class="partner-icon">
                  <i class="fas fa-user"></i>
              </div>
              <button class="contact-btn">CONTACTER</button>
          </div>
      </div>
      <div class="col-md-3">
          <div class="partner-card">
              <div class="partner-icon">
                  <i class="fas fa-user"></i>
              </div>
              <button class="contact-btn">CONTACTER</button>
          </div>
      </div>
  </div>
</div>
<app-footer/>
