<div *ngIf="isEtudiant(); else clientNavbar">
  <app-nav-connect></app-nav-connect>
</div>
<ng-template #clientNavbar>
  <app-navbar></app-navbar>
</ng-template>
<!-- Section Héro -->
<section class="hero-section">
  <div class="hero-overlay">
    <div class="container hero-content">
      <!-- Dynamique: Titre de l'article -->
      <h1 class="mb-4">{{ article?.titre }}</h1>
      <div class="search-container">
        <div class="input-group mb-3">
          <!-- Input group ici -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contenu -->
<section class="contenu">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-content">
        <!-- Dynamique: Contenu de l'article -->
        <p>
          {{ article?.description }}
        </p>
      </div>
    </div>
    <!-- Bouton pour ouvrir la modal -->
    <button type="button" class="btn btn-primary btn-comment" data-bs-toggle="modal" data-bs-target="#commentModal">
      commentaire
    </button>
  </div>
</section>
<br>
<br>
<hr class="justify-content-center">

<!-- Liste des commentaires -->
<div class="container d-flex justify-content-center list-comment">
  <div *ngFor="let commentaire of commentaires" class="container-comment list-commentaire">
    <h3>{{ commentaire.nom_complet }}</h3>
    <div class="container position-relative">
      <p>{{ commentaire.contenu }}</p>
    </div>
  </div>
</div>

<!-- Modal pour les commentaires -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Donnez votre avis sur l'article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createCommentaire()">
          <div class="form-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="newCommentaire.nom_complet" name="nom_complet" placeholder="Votre nom *" required>
          </div>
          <div class="form-group mb-3">
            <textarea class="form-control" rows="4" [(ngModel)]="newCommentaire.contenu" name="contenu" placeholder="Votre commentaire *" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-comment" id="modal-btn">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
