<app-sidbar></app-sidbar>
<div class="container-fluid">
  <div class="content col-md-10">
    <h2 class="section-title">Ajouter produit</h2>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label" for="nom">Nom</label>
              <input class="form-control" id="nom" type="text" formControlName="nom_produit" required/>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="description">Description</label>
              <input class="form-control" id="description" type="text" formControlName="description"/>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label" for="quantite">Quantité</label>
              <input class="form-control" id="quantite" type="number" formControlName="quantite" required/>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="prix">Prix</label>
              <input class="form-control" id="prix" type="number" formControlName="prix" required/>
            </div>
          </div>
          <div class="col">
            <label for="image" class="form-label">Photos</label>
            <input type="file" class="form-control" id="image" (change)="onFileSelected($event)" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="categories">Catégories</label>
            <select class="form-select" id="categories" formControlName="categorie_id" required>
              <option value="">Sélectionner une catégorie</option>
              <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom_categorie }}</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!produitForm.valid">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>
